h1{
    background-color: black;
    color: white;
    font-family:monospace;
    font-weight: bold;
}
h2{ 
    color: white;
    text-align: center;
    background-color: blueviolet;
    font-family:sans-serif;

}
h3{
    text-align: right;
    color: blueviolet;
    background-color:aqua;
    text-decoration-line: underline;
    
}
span{
    color: cyan;

}